# deploy.yml

env:
  S3_BUCKET_NAME: build-freelec  # my bucket name
  PROJECT_NAME: freelec-springboot2-webservice  # my github project name
  CODE_DEPLOY_APP_NAME: freelec # from AWS CodeDeploy
  CODE_DEPLOY_GROUP_NAME: freelec # from AWS CodeDeploy

name: deploy-freelec  # the name that will be shown in Github Action

on:
  release:
    types: [published] # activity 'release''s key [action] doesn't include [push] event.
  push:
    branches: [main] # act on 'main' branch.
  workflow_dispatch: # enable github action that it be run manually.
  
jobs:
  build:
    runs-on: ubuntu-latest # github action script runs on linux(debian).
    permissions:
      contents: read
      packages: write
    
    environment: deploy # choosing repository's secret environment.
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    # - name: Cache JDK
      
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: ${{ secrets.JAVA_VERSION }}
    
    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew
      shell: bash
      
    - name: Build with Gradle
      run: ./gradlew clean build -x test
      shell: bash
      
    - name: Get current time
      uses: 1466587594/get-current-time@v2 # uses: adopting action which is already made.
      id: current-time
      with:
        format: YYYY-MM-DDTHH-mm-ss
        utcOffset: "+09:00"
        
    - name: Show Current Time
      run: echo "CurrentTime=${{ steps.current-time.outputs.formattedTime }}" # Show the time as set format.
      shell: bash
      
    - name: Generate deployment package # (final)
      run: |
        mkdir -p before-deploy
        cp scripts/*.sh before-deploy/
        cp appspec.yml before-deploy/
        cp build/libs/*.jar before-deploy/
        cd before-deploy && zip -r before-deploy *
        cd ../ && mkdir -p deploy
        mv before-deploy/before-deploy.zip deploy/$PROJECT_NAME.zip
      shell: bash

    - name: Make zip file
      run: zip -r ./$PROJECT_NAME.zip .
      shell: bash

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2  # Seoul
        
    - name: Upload to S3
      run: aws s3 cp --region ap-northeast-2 ./$PROJECT_NAME.zip s3://$S3_BUCKET_NAME/$PROJECT_NAME/$PROJECT_NAME.zip

    - name: Code Deploy # transfer the application to the deployment group.
      run: aws deploy create-deployment --application-name $CODE_DEPLOY_APP_NAME --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name $CODE_DEPLOY_GROUP_NAME --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=$PROJECT_NAME/$PROJECT_NAME.zip    #(16)
